/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100.1%;
  overflow-y: scroll;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fcf4ed
    linear-gradient(0deg, #fcf4ed 0%, #dceaf1 50%, #bcdef6 100%) no-repeat;
  text-align: center;
  margin: 0;
  padding: 20px;

  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 1.2rem;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 30px 15px;
  text-align: center;
}

.logo {
  margin: 3rem 0;
  max-width: 100%;
  width: 350px;
  /*   max-width: 280px;  */
  /*   height: 150px; */
  /*   margin: 10px auto 20px; */
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 100%;
  }
}

.search-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

@media (max-width: 905px) {
  .search-bar {
    width: 70%;  /* Adjusts to 70% for screens smaller than 905px */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .search-bar {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .search-bar {
    width: 100%;
  }
}

#search-input {
  width: 60%;
  padding: 0.8rem;
  font-size: 16px;
  border-color: #3c5aa6;
  border-radius: 0.6rem;
  border-width: 0.3rem;
}

#search-input:focus {
  border: 4px solid #22cba8;
}

#search-button {
  padding: 0.8rem 1.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #3c5aa6;
  color: #3c5aa6;
  border-radius: 0.6rem;
  border-width: 0.3rem;
  background-color: #ffcb05;
  cursor: pointer;
}

#search-button:hover {
  background: rgba(85, 144, 189, 1);
  color: #ffcb05;
  font-weight: bold;
}

.warning {
  color: red;
  margin-top: 20px;
}

.loading {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #ff0000; /* Red */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite; /* Increased the duration to 3s */
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokemon-card {
  display: none; /* Hidden by default */
  width: 500px;
  margin: 4rem auto;
  font-size: 1.1rem;
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 2rem 0;
  background-color: #fff;
  box-shadow: 10px 10px 2px 1px #2a75bb, -1em 0 0.4em #ffcb05;

  /* background: linear-gradient(
    0.06deg,
    rgba(250, 250, 250, 1) 0%,
    rgb(255, 249, 224, 1) 29.62%,
    rgb(253, 233, 153, 1) 58.47%,
    rgb(245, 224, 139, 1) 86.92%,
    rgb(206, 168, 18) 99.22%
  ); */
  background-image: linear-gradient(
    to right,
    #054f7d,
    #00a7cf,
    #efe348,
    #861a54,
    #054f7d
  );
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
  /*display: flex;
  font-family: 'Lato', Arial, sans-serif;
  height: 100%;
  justify-content: center;*/
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1),
    -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}

@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

.pokemon-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.pokemon-card .card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 80px;
  align-items: center;

  @media (min-width: 481px) and (max-width: 767px) {
    padding: 0 30px 0 50px;
  }
}

.pokemon-card h2 {
  text-align: center;
  font-size: 2.6rem;
  text-transform: capitalize;
  padding-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);

  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 2.4rem;
  }
}

.close-button {
  z-index: 3;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);

  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 2.4rem;
  }
}

.pokemon-card h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.pokemon-card img {
  position: absolute;
  top: 380px; /* Adjust to move the image outside/above the card */
  left: 55%;
  transform: translateX(-50%); /* Centers the image horizontally */
  z-index: 2;
  width: 250px;
  height: 250px;
  object-fit: contain;
  text-align: center;

  @media (min-width: 481px) and (max-width: 767px) {
    top: 370px; /* Adjust to move the image outside/above the card */
    left: 68%;
  }
}

.pokemon-card .stats,
.pokemon-card .abilities {
  display: flex;
  flex-direction: column;
  padding: 40px 80px 20px;
  text-align: left;

  @media (min-width: 481px) and (max-width: 767px) {
    padding: 30px 50px 10px;
  }
}

.pokemon-card .stats ul,
.pokemon-card .abilities ul {
  list-style-type: none;
  padding: 0;
}

.pokemon-card .stats li,
.pokemon-card .abilities li {
  background-color: #f8f8f8;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);

  @media (min-width: 481px) and (max-width: 767px) {
    padding: 7px;
  }
}

.stat-item,
.ability-item {
  margin: 5px 0;
}

/* Suggestions Container */
.suggestions {
  position: absolute;
  top: 40px;
  left: 5%;
  width: 10%;
  padding: 1.5rem 2rem;
}

@media (min-width: 390px) and (max-width: 767px) {
  .suggestions {
    top: 10px;
    left: 1%;
    width: 19%;
    padding: 0.4rem;
  }
}

.suggestions div {
  padding: 0.5rem;
  text-align: center;
  color: #061d57;
  cursor: pointer;

  box-shadow: 0px 1px 2px #eee, 0px 2px 2px #e9e9e9, 0px 3px 2px #ccc,
    0px 4px 2px #c9c9c9, 0px 5px 2px #bbb, 0px 6px 2px #b9b9b9, 0px 7px 2px #999,
    0px 7px 2px rgba(0, 0, 0, 0.5), 0px 7px 2px rgba(0, 0, 0, 0.1),
    0px 7px 2px rgba(0, 0, 0, 0.73), 0px 3px 5px rgba(0, 0, 0, 0.3),
    0px 5px 10px rgba(0, 0, 0, 0.37), 0px 10px 10px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.5;

  display: block;
  margin-bottom: 0.5rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  .suggestions div {
    padding: 0.4rem;
    font-size: 0.9rem;  
    margin-bottom: 0.4rem;
    box-shadow: 0px 1px 1px #bbb;
  }
}

@media (max-width: 390px) {
  .suggestions div {
    padding: 0.3rem;
    font-size: 0.8rem;  
    margin-bottom: 0.3rem;
    box-shadow: 0px 1px 1px #bbb;
  }
}

.suggestions div:hover {
  background-color: #f0f0f0;
}
